<div id="subscribe" class="hero-unit">

  <h1>Hypemator</h1>

  <h2>Get daily track recommandations based upon your hypem playlist.</h2>

  <form id="subscribe_form">
    <input id="username" class="input-block-level" type="text" placeholder="Your hypem username"/>
    <input id="username" class="input-block-level" type="text" placeholder="Your email"/>
    <button class="btn btn-primary btn-large pull-right">Sign me up</button>
  </form>
    
</div>
